.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

h1 {
	margin: 24px 0;
}

.messages {
	height: 200px;
	overflow: auto;
}
.messages p {
	margin: 6px 0;
}
@media only screen and (max-width: 284px) {
    a {
    	display: none;
    }
    h1.room-title {
    	margin-top: 0;
    }
    div.main-area {
    	margin: 0;
    }
}